<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table class="table xtable-stripedx job-table">
	<thead>
		<tr>
			<th class="row-header"></th>
			<th class="row-header">Job Title</th>
			<th class="row-header">Company</th>
			<th class="row-header">Date applied</th>
			<th class="row-header">Resume sent?</th>
			<th class="row-header">Cover letter sent?</th>

		</tr>
	</thead>

	<tbody>
	<% @jobs.each_with_index do |job, i| %>
		<%  if job.rejected? %>
			<tr class="job-list_item strikeout"><strike>
				<td><%= i + 1 %>. </td>
				<td style="opacity: 0.4;"><strike><%= link_to capitalize_all(job.title), job %></strike></td>
				<td style="opacity: 0.4;">
					<% if job.URL %>
						<strike><%= link_to job.company, job.URL %>
					<% else %>
						<strike><%=  job.company %>
					<% end %>
				</strike></td>
				<td style="opacity: 0.4;"><strike><%= job.date_applied %></strike></td>

				<td style="opacity: 0.4;"" colspan='3'><strong><h4>Job is off the table</h4></strong></td>
			</tr>

		<% else %>

			<tr class="job-list_item">
				<td><%= i + 1 %>. </td>
				<td><%= link_to  capitalize_all(job.title), job %></td>
				<td>
					<% if job.URL %>
						<%= link_to job.company, job.URL %>
					<% else %>
						<%=  job.company %>
					<% end %>
				</td>
				<td><%= job.date_applied %></td>
				<td>
					<% if job.resume_sent %>
						Yes
					<% else %>
						No
					<% end %>
				</td>
				<td>
					<% if job.cover_letter_sent %>
						Yes
					<% else %>
						No
					<% end %>
				</td>

		<% end %>



	<% end %>

	</tbody>
</table>

<br>


<%= link_to 'New Job', new_job_path, class: "btn btn-sm note-btn " %>


