<!DOCTYPE html>
<html>
<head>
	<title>Job Tracker</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag    'application', media: 'print', 'data-turbolinks-track': 'reload' %>

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amiko|Ranga" rel="stylesheet">
	<link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> -->

</head>
<body>
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>


		<%= render 'layouts/header2' %>
		<div class="main">
			<%= yield %>
		</div>

	</div>
</body>
</html>
